.counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .counterHover {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
}
