@import '../../../app/variables.scss';

.model {
    margin-top: 110px;
    @media screen and (min-width: $desktop) {
        margin: 0 auto;
        max-width: 1200px;
    }
}

.containerCards {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    @media screen and (min-width: $desktop) {
        gap: 0;
        margin-top: 150px;
        display: grid;
        margin-bottom: 60px;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 5px;
        row-gap: 3rem;
        padding: 1rem;
    }
}
