.modal {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: 80dvh;
    overflow-y: auto;

    .close {
        border: none;
        background-color: transparent;
        position: fixed;
        right: 13px;
        top: 5px;
        cursor: pointer;
    }

    .imagesContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 2px;
        justify-content: center;
    }
}
