@import '../../../app/variables.scss';

.modal {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: white;
    width: 90%;
    top: 80px;
    left: 5%;
    border: 1px solid black;
    overflow-y: auto;
    height: 90dvh;
    align-items: center;
    @media screen and (min-width: $desktop) {
        transform: translate(-50%, -50%);
        left: 50%;
        top: 50%;
        padding: 1rem;
        width: 70%;
        height: 80dvh;
    }

    .title {
        margin-bottom: 30px;
        padding: 10px;
    }

    .close {
        right: 38px;
        top: 90px;
        position: fixed;
        border: none;
        background-color: transparent;
        @media screen and (min-width: $desktop) {
            right: 13px;
            top: 5px;
            cursor: pointer;
        }
    }

    .imagesContainer {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        position: relative;
        @media screen and (min-width: $desktop) {
            gap: 2px;
        }
    }

    .imgContainer {
        width: auto;
        height: auto;
    }

    .image {
        width: 100%;
        height: auto;
    }
}
