.maintenance {
    display: flex;
    height: 100dvh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f2ee;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;

    .title {
        font-family: 'fontBlack';
        font-size: 50px;
    }

    .text {
        font-size: 30px;
    }
}
