@use '../../../app/variables';

.container {
    width: 100%;
    height: 100svh;
    background-color: variables.$white;
    position: relative;
}

.button {
    position: absolute;
    right: 40px;
    bottom: 40px;
    border: 1px solid black;
    padding: 7px;
    display: flex;
    align-items: center;
    background-color: white;
}

.iframe {
    width: 100%;
    height: 100%;
    border: none;
}
