@use '../app/variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'regular';
}
body {
    background-color: variables.$white;
}
a {
    text-decoration: none;
    color: black;
}
