@use '../../../app/variables.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 101;
    padding: 1rem;
    top: 0;
    left: 0;
    background-color: variables.$white;
    width: 100%;
    @media screen and (min-width: variables.$desktop) {
        padding: 1.5rem;
    }
}
