@use '../../../app/variables.scss';

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    padding: 2rem;
    @media screen and (min-width: variables.$desktop) {
        padding: 0;
    }
}
