@import '../../../app/variables.scss';

.homepage {
    position: relative;

    .imageContainer {
        height: 100dvh;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .image {
        object-fit: contain;
        @media screen and (min-width: $desktop) {
            object-fit: cover;
        }
    }
}

.counter {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 20px;
    color: #fff;
    font-family: 'fontMedium';
    @media screen and (min-width: $desktop) {
        font-size: 40px;
    }
}
