@use '../../../app/variables.scss' as variables;

.homepage {
    position: relative;
    height: 100dvh;
    overflow: hidden;
}

.imageContainer {
    position: relative;
    width: 100vw;
    height: 100dvh;
    overflow: hidden;

    @media screen and (min-width: variables.$desktop) {
        width: 100%;
    }
}

.imageContainer > div {
    position: absolute;
    inset: 0;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transition: opacity 1s ease-in-out;

    &.active {
        opacity: 1;
    }

    &.inactive {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .image {
        object-position: center top;
    }
}
.counter {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 20px;
    color: #fff;
    font-family: 'fontMedium';
    z-index: 10;

    @media screen and (min-width: variables.$desktop) {
        font-size: 40px;
    }
}
