@import '../../../app/variables.scss';

.homepage {
    position: relative;

    .imageContainer {
        height: 100dvh;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    .image {
        object-fit: contain;
        @media screen and (min-width: $desktop) {
            object-fit: cover;
        }
    }
}
