@import '../../../app/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 100%;
        position: relative;
        @media screen and (min-width: $desktop) {
            width: 350px;
        }

        .imgCards {
            object-fit: cover;
        }
    }
}
