@use '../../../app/variables.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative;
    @media screen and (min-width: variables.$desktop) {
        gap: 10px;
    }

    p {
        font-size: 18px;
        @media screen and (max-width: variables.$tablet) {
            position: absolute;
            color: white;
            bottom: 10px;
        }
    }
    .cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 350px;
        width: 100%;
        position: relative;
        @media screen and (min-width: variables.$desktop) {
            width: 350px;
        }

        .imgCards {
            object-fit: cover;
        }
    }
}
